@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_customTheme" @ref="@_mudThemeProvider" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <img src="images/ISULogo.png" alt="ISU Logo" style="height: 40px;" />
        <MudText Typo="Typo.h5" Class="ml-3">Senior Design Team 40 - True Force Technologies Arcade Rack</MudText>
        <MudSpacer />
        <MudIconButton Icon="@(_isDarkMode? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen" Breakpoint="Breakpoint.Lg" Elevation="12" ClipMode="@DrawerClipMode.Docked" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" MiniWidth="62px">
        <NavMenu IsDrawerOpen="@_drawerOpen" />
    </MudDrawer>
    <MudMainContent>
        <div class="pa-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen;
    private void DrawerToggle() => _drawerOpen = !_drawerOpen;

    private MudThemeProvider _mudThemeProvider = new();
    private bool _isDarkMode;

    private MudTheme _customTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            AppbarBackground = "#C8102E",
			Primary = "#C8102E",
        },
        PaletteDark = new PaletteDark()
        {
            AppbarBackground = "#C8102E",
            Primary = "#C8102E",
        }
    };

    protected override async Task OnInitializedAsync()
    {
        var savedPreference = await LocalStorage.GetItemAsync<bool?>("darkMode");

        _isDarkMode = savedPreference ?? false;
    }

    private async Task DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
        await LocalStorage.SetItemAsync("darkMode", _isDarkMode);
    }
}