<MudNavMenu Style="position: relative; height: 100%; padding-bottom: 50px;">
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="team" Icon="@Icons.Material.Filled.Groups">Team Members</MudNavLink>
    <MudNavLink Href="reports" Icon="@Icons.Material.Filled.Newspaper">Weekly Reports</MudNavLink>
    <MudNavLink Href="docs" Icon="@Icons.Material.Filled.FindInPage">Design Documents</MudNavLink>
    <MudNavLink Href="https://git.ece.iastate.edu/sd/sdmay26-40" target="_blank" rel="noopener noreferrer" Icon="@Icons.Material.Filled.Code">Project Repository</MudNavLink>
    <MudNavLink Href="https://github.com/JacobG122503/SeniorDesignTeam40Website" target="_blank" rel="noopener noreferrer" Icon="@Icons.Material.Filled.Web">Website Repository</MudNavLink>

    @if (IsDrawerOpen)
    {
        <div class="pa-2" style="position: absolute; bottom: 0; width: 100%;">
            <MudText Typo="Typo.caption" Class="mud-text-disabled">Last Updated:</MudText>
            <MudText Typo="Typo.caption" Class="mud-text-disabled">@buildDate</MudText>
        </div>
    }
</MudNavMenu>

@code {
    [Parameter]
    public bool IsDrawerOpen { get; set; }

    private string buildDate = BuildInfo.BuildTimestamp;
}